@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-roboto: 'Roboto', sans-serif;
  }
  
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    font-family: var(--font-roboto);
    background-color: rgb(248 250 252);
}